@import url(/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondry: #0F1F1C;
}
body{
	font-family: 'Poppins', sans-serif;
	background-color: #F6F6F6;
	color: rgba(15, 31, 28, 0.5);
}

.none{
	display: none !important;
}

.container{
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 var(--container-padding);
}
.container-right{
	padding-left: calc( (100% - var(--container-width)) / 2 + var(--container-padding));
}
.container-left{
	padding-right: calc( (100% - var(--container-width)) / 2 + var(--container-padding));
}

									/*Header*/
header{
	position: relative;
min-height: 945px;
background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
padding-top: 44px;
color: #FFF;
}
.header::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 96px;

	background-image: url('/image/header/header-down.svg');
	background-size: 100%;
}
.header__content{
	max-width: 592px;
}

/* NAV */
.nav{
	display: flex;
	justify-content: space-between;
	column-gap: 80px;
	align-items: center;
}
.logo{
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 700;
	color: #FFF;
}
.header a{
	color: #FFF;
}
.nav__list{
	display: flex;
	column-gap: 80px;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 15px;
}
.nav__list a{
	position: relative;
}
.nav__list a.active::after,
.nav__list a:hover::after{
	content: "";

	position: absolute;
	left: 0;
	right: 10px;
	bottom: -6px;

	display: block;
	height: 4px;
	background: #C4C4C4;
	border-radius: 100px;
}
.nav__login{
	display: flex;
	column-gap: 25px;
	font-weight: 500;
	font-size: 15px;
	align-items: center;
}

/* Button */
.btn{
	display: inline-block;
	padding: 13px 44px;
	color: #FFF;

	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
	border-radius: 100px;
}
.btn:hover{
	color: rgb(114, 43, 2);
	transition: color 0.2;
}
.btn:active{
	position: relative;
	top: 1px;
}
